{% extends 'base.html' %}

{% block content %}

    <h1>Products</h1>
    <div class="row">
        {% for product in products %}
            <div class="col">
                <div class="card" style="width: 18rem;">
      <img src="{{ product.image_url }}" class="card-img-top" alt="no image">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">R{{ product.price }}</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
</div>
        </div>
        {% endfor %}

    </div>

<!--    <ul>-->
<!--        {% for products in products %}-->
<!--            <li>{{ products.name }} (R{{ products.price }})</li>-->
<!--        {% endfor %}-->

    <!--    <li>Item 2</li>-->
    <!--    <li>Item 3</li>-->
    <!--    <li>Item 4</li>-->
    <!--    <li>Item 5</li>-->
    <!--    <li>Item 6</li>-->

<!--    </ul>-->
{% endblock %}